@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-family: "Heebo", sans-serif;
    font-size: 16px;
}
body {
    background-color: white;
}
.whole_page {
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 58px;
    background-color: rgb(255, 255, 255);

}
.nav a {
    text-decoration: none;
    padding: 1.2rem;
    color: inherit;
}
.nav .icon {
    display: none;
    font-size: 3rem;
  }
.nav a:hover {
    color: #FF6464;
}
.col a.active {
    color: #FF6464;
}
.container {
    padding: 24px 52px;
    margin: 0;
}
.col {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: 600;
    font-size: 1.2rem;
}
.top {
    display: flex;
    flex-direction: row;
    width: 100vw;
    padding-bottom: 4em;
}
.t_l, .t_r {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 50vw;
    padding-top: 8rem;
}
.t_l {
    display: flex;
    flex-direction: column;
    padding-left: 8rem;
    padding-right: 6rem;
    order: 1;
}
.t_r {
    padding-right: 8rem;
    padding-left: 6rem;
    order: 2;
}
.hi {
    max-width: 506px;
    max-height: 105px;
}
.hi h1 {
    font-weight: 700;
}
.lorem {
    padding-top: 26px;
    padding-bottom: 18px;
}
.dowload_but button {
    min-width: 208px;
    min-height: 47px;
    color: white;
    background-color: #ff6464;
    border: 1px solid #ff6464;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 700;
}
.dowload_but button:hover {
    background-color: #ff6464b0;
    border: 1px solid transparent;
}
.profile {
    max-width: 250px;
    max-height: 250px;
    border-radius: 50%;
    overflow: hidden;
}
.profile img {
    width: 100%;
    height: 100%; 
    object-fit: cover;
}
.middle {
    display: flex;
    flex-direction: row;
    flex-shrink: 2;
    background-color: #EDF7FA;
}
.m_l, .m_r {
    width: 50vw;
    padding-bottom: 1.5rem;
}
.m_l , .m_r{
    padding-top: 1.5rem;
}
.m_l {
    padding-left: 8rem;
    padding-right: 1rem;
}
.m_r {
    padding-left: 1rem;
    padding-right: 8rem;
}
.m_l h3 {
    font-size: 23px;
    font-weight: 400;
    padding-bottom: 10px;
}
.m_r h3 a {
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
    font-weight: 400;
    color: #1eb2d2;
    padding: 0.5rem;
    text-decoration: none;
}
.m_l_all, .m_r_all {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px;
}
.m_l_t1, .m_r_t1 {
    padding-bottom: 10px;
}
.m_l_t1 h4, .m_r_t1 h4{
    font-size: 28px;
    font-weight: 700;
}
.m_l_t2 , .m_r_t2{
    font-size: 1.1rem;
    display: flex;
    flex-direction: row;
}
.m_l_t2 p , .m_r_t2 p{
    padding-right: 14px ;
}
.bottom {
    padding: 2rem 8rem;
}
.bottom h3 {
    font-size: 22px;
    font-weight: 400;
}
.f_1, .f_2, .f_3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 1px solid rgba(179, 185, 189, 0.442);
    padding-bottom: 2rem;
    padding-top: 2rem;
} 
.f_1 .div_pic, .f_2 .div_pic, .f_3 .div_pic {
    min-width: 246px;
    min-height: 180px;
    padding-right: 20px;
  
}
.f_1 .div_pic img, .f_2 .div_pic img ,.f_3 .div_pic img {
    width: 100%;
}
.f_1_t h2 {
    font-size: 26px;
    font-weight: 700;
    padding-bottom: 10px;
}
.dashboard {
    display: flex;
    padding-bottom: 1rem;
}
.dashboard h4{
    text-align: center;
    width: 62px;
    height: 25px;
    font-size: 16px;
    background-color: #142850;
    color: white;
    border-radius: 50px;
    padding-top: 2px ;
}
.dashboard h5 {
    color: rgb(154, 159, 162);
    font-weight: 400;
    padding-left: 1.8rem;
}
footer {
    display: flex;
    justify-content: center;
}
footer {
    padding-top: 6rem;
}
.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
}
.icon div {
    padding: 0.3rem;
}
.icon .i_small img{
    width: 2.5rem;
}
.icon img {
    width: 3rem;
}
.icon .i_small {
    padding: 1rem;
}
.ft p {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 3rem;
}
@media (max-width:900px) {
    .nav:not(:last-child) {
        justify-content: center;
        align-content: flex-end;
        margin-top: 1.3rem;
    }
    .nav a {
        display: none;
        font-size: 2rem;
        margin-right: 1rem;
    }
    .col .icon  {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
       
    }
    .col.responsive {
        display: flex;
        align-content: center;
    }
    .col.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
      }
    .col.responsive a {
        display: block;
    }
    .top {
        flex-direction: column;
        padding-bottom: 3rem;
    }
    .t_l, .t_r {
        display: flex;
        justify-content: center;
        align-content: center;
        width: 100vw;
        padding-top: 2rem;
    }
    .t_l {
        text-align: center;
        order: 2;
    }
    .t_r {
        text-align: center;
        margin-left: 2rem;
    }
    .lorem {
        padding-top: 20px;
    }
    .dowload_but button {
        min-width: 208px;
        min-height: 47px;
    }
    .middle {
        flex-direction: column;
    }
    .m_l, .m_r {
        width: 100vw;
        padding: 1rem 5rem
    }
    .m_r {
        padding-bottom: 3rem;
    }
    .m_l_all {
        margin-top: 1rem;
    }
    .m_l h3 {
        text-align: center;
        margin-top: 1rem;
    }
    .m_r h3 a {
        display: none;
    }
    .bottom {
        padding: 4rem;
    }
    .bottom h3 {
        text-align: center;
    }
    .f_1, .f_2, .f_3 {
        flex-direction: column;
    }
    @media (max-width:550px) {
        html {
            font-size: 13px;
        }
        .nav:not(:last-child) {
            margin-top: 1rem;
        }
        .nav a {
            display: none;
            font-size: 1.5rem;
            margin-right: 1rem;
        }
        .col .icon  {
            display: block;
            position: absolute;
            font-size: 2rem;
            right: 0;
            top: 0;
        }
        .col.responsive {
            display: flex;
        }
        .col.responsive .icon {
            display: none;
            right: 0;
            top: 0;
          }
        .col.responsive a {
            justify-content: center;
            font-size: medium;
            display: flex;
        }
        .t_l {
            padding: 3rem;
        }
        .t_r {
            text-align: center;
            margin-left: 1rem;
        }
        .m_l, .m_r {
            width: 100vw;
            padding: 1rem 2rem
        }
        .m_l h3 {
            font-size: 20px;
        }
      
    }
   
}